Repository tuxerrante/kapparmor: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-check, gotidy, govet, gotest

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ".*\\.md$"
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^charts/kapparmor/templates/.*
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']
        args: ['--config', '.commitlint.config.js']

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        args: ["--config", ".gitleaks.toml", "--redact"]
        verbose: true

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.5.0
    hooks:
      - id: golangci-lint
        args: ["-c", ".golangci.yml", "--timeout=5m"]
        files: '\.go$'
        types: [file]

  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
        args: ["--failure-threshold", "error"]
        name: hadolint (Docker)
        language: docker_image
        entry: ghcr.io/hadolint/hadolint:latest hadolint
        files: (^|/)(Dockerfile([^/]*))$
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: version-check
        name: Check versions consistency
        entry: bash build/check_versions.sh
        language: system
        files: ^(config/config|charts/kapparmor/Chart\.yaml)$
        pass_filenames: false
     
      - id: lint-rendered-helm
        name: Lint rendered Helm chart YAML
        entry: bash -c "source ./config/config && helm template --set image.tag=${APP_VERSION}_dev charts/kapparmor | yq . > testdata/rendered.yaml && yamllint testdata/rendered.yaml && kubeconform --summary testdata/rendered.yaml"
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: gotidy
        name: go tidy
        entry: go mod tidy
        language: system
        files: '\.go$'
        pass_filenames: false

      - id: govet
        name: go vet
        entry: go vet ./go/...
        language: system
        files: '\.go$'
        pass_filenames: false

      - id: gotest
        name: go test
        entry: bash -c 'go test -v -race -coverprofile=coverage.out -covermode=atomic ./...'
        language: system
        files: '\.go$'

go 1.25
  .github/workflows/build-app.yml
  .github/workflows/codeql.yml
  .github/workflows/golangci-lint.yml
  charts/kapparmor/Chart.yaml
  config/config
  go.mod
  go/src/app/const.go
Due: version-check, gotidy, govet, gotest

ignorable/fmt
  .codacy/codacy.yaml
  .cursor/rules/codacy.mdc
  .github/workflows/build-app.yml
  .github/workflows/codeql.yml
  AGENTS.md
  build/build-and-deploy.sh
  build/build-app.sh
  build/zz_test_on_microk8s.sh
  codecov.yml
  cover.cov
  docs/microk8s.md
Due: none

extended test coverage
  build/test_on_docker.sh
  build/test_on_microk8s.sh
  docs/testing.md
  go/src/app/profile_test_samples/custom.bin.foo
  go/src/app/profile_test_samples/custom.deny-network
  go/src/app/profile_test_samples/custom.myNotValidProfile
  go/src/app/profile_test_samples/custom.myValidProfile
  go/src/app/profile_test_samples/positive_tests/custom.deny-network
  go/src/app/profile_test_samples/positive_tests/custom.myValidProfile
  go/src/app/t_fuzzIsProfileNameCorrect_test.go
  go/src/app/t_hasTheSameContent_test.go
  go/src/app/t_helpers.go
  go/src/app/t_main_test.go
  go/src/app/t_profiles_test.go
  src/app/profile_test_samples/custom.bin.foo
  src/app/profile_test_samples/custom.deny-network
  src/app/profile_test_samples/custom.myNotValidProfile
  src/app/profile_test_samples/custom.myValidProfile
  src/app/profile_test_samples/positive_tests/custom.deny-network
  src/app/profile_test_samples/positive_tests/custom.myValidProfile
  src/app/t_copy_test.go
  src/app/t_filesystemOperations_test.go
  src/app/t_fuzzIsProfileNameCorrect_test.go
  src/app/t_hasTheSameContent_test.go
  src/app/t_helpers.go
  src/app/t_main_test.go
  src/app/t_profiles_test.go
  src/app/t_validation_test.go
  test/busybox_connect_tcp.yml
  test/cm-kapparmor-empty.yml
  test/cm-kapparmor-home-profile-edited.yml
  test/pod_busybox_deny-write.yml
  test/pod_ubuntu_deny_write_outside_home.yml
Due: gotidy, govet, gotest

removed ai instructions
  .ai-instructions.md
Due: none

enforced linting
  .gitignore
  .golangci.yml
  .pre-commit-config.yaml
  Makefile
Due: none

dockerfile from ubuntu:25.04
  Dockerfile
  Dockerfile.dev
Due: none

new chart version
  charts/kapparmor/CHANGELOG.md
  charts/kapparmor/Chart.yaml
  charts/kapparmor/templates/cm-profiles.yaml
  charts/kapparmor/templates/daemonset.yaml
  charts/kapparmor/values.yaml
  config/config
  img/kapparmor_logo_64.jpg
Due: version-check

moved src folder
  go/src/app/const.go
  go/src/app/filesystemOperations.go
  go/src/app/main.go
  go/src/docs/readme.md
Due: gotidy, govet, gotest

Metrics server for /healthz and /readyz
  src/app/healthz.go
Due: gotidy, govet, gotest

added a sync mutex. Removed panics. Improved error management. Enforced context pass between goroutines.
  src/app/config.go
  src/app/const.go
  src/app/filesystemOperations.go
  src/app/logger.go
  src/app/main.go
Due: gotidy, govet, gotest

shellcheck
  Makefile
  README.md
  build/check_versions.sh
  build/test_on_docker.sh
  build/test_on_microk8s.sh
  build/zz_test_on_microk8s.sh
Due: none

ci actions versions bump
  .github/workflows/build-app.yml
  .github/workflows/codeql.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/scorecard.yml
Due: none

scoreboard CI during PR
  .github/workflows/scorecard.yml
Due: none

Fix/githubci (#42)
  .github/workflows/build-app.yml
  .github/workflows/codeql.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/scorecard.yml
  Makefile
  README.md
  build/check_versions.sh
  build/test_on_docker.sh
  build/test_on_microk8s.sh
  build/zz_test_on_microk8s.sh
Due: none

Update index.yaml
  index.yaml
Due: none

threat modeling preview
  SECURITY.md
  charts/kapparmor/CHANGELOG.md
  docs/ThreatModel.md
Due: none

threat modeling preview (#43)
  SECURITY.md
  charts/kapparmor/CHANGELOG.md
  docs/ThreatModel.md
Due: none

chart version bump
  charts/kapparmor/Chart.yaml
  config/config
Due: version-check

fix missing v0.3.0
  index.yaml
Due: none

added prometheus metrics
  .golangci.yml
  charts/kapparmor/CHANGELOG.md
  charts/kapparmor/Chart.yaml
  config/config
  go.mod
  go.sum
  src/app/healthz.go
  src/app/main.go
  src/app/metrics/metrics.go
  src/app/metrics/t_metrics_test.go
  src/app/profiles_ops.go
  src/app/t_profiles_ops_test.go
Due: version-check, gotidy, govet, gotest

extended test coverage
  src/app/t_main_extended_test.go
  src/app/t_main_test.go
Due: gotidy, govet, gotest

update docs in gh-pages
  .github/workflows/build-app.yml
Due: none

git needed by go get
  Dockerfile
Due: none

fix module path
  go.mod
Due: none

Environment Detection: The target now checks if /sys/kernel/security exists
  Dockerfile
  Makefile
  go.mod
  src/app/healthz.go
Due: gotidy, govet, gotest

fixing test coverage path
  Dockerfile
Due: none

Add Python cache files to .gitignore
  .gitignore
Due: none

Add E2E testing targets and improve linting in Makefile
  Makefile
Due: none

Add Prometheus metrics tests for Kapparmor
  build/zz_test_on_microk8s.sh
  charts/kapparmor/CHANGELOG.md
  docs/testing.md
  test/e2e.py
  test/test_prometheus_metrics.py
  test/verify_prometheus_metrics.py
Due: none

Add ServiceMonitor configuration and update service ports for metrics
  charts/kapparmor/templates/service.yaml
  charts/kapparmor/templates/servicemonitor.yaml
  charts/kapparmor/values.yaml
Due: none

Update config to include HEALTHZPORT variable
  config/config
Due: version-check

update ghpages docs automatically
  .github/workflows/build-app.yml
  .github/workflows/gh-pages.yml
  cr.yaml
Due: none

Code scanning/ Scorecard: no topLevel permission defined
  .github/workflows/gh-pages.yml
Due: none

🌱Feature: Prometheus metrics (#44)
  .github/workflows/build-app.yml
  .github/workflows/gh-pages.yml
  .gitignore
  .golangci.yml
  Dockerfile
  Makefile
  build/zz_test_on_microk8s.sh
  charts/kapparmor/CHANGELOG.md
  charts/kapparmor/Chart.yaml
  charts/kapparmor/templates/service.yaml
  charts/kapparmor/templates/servicemonitor.yaml
  charts/kapparmor/values.yaml
  config/config
  cr.yaml
  docs/testing.md
  go.mod
  go.sum
  src/app/healthz.go
  src/app/main.go
  src/app/metrics/metrics.go
  src/app/metrics/t_metrics_test.go
  src/app/profiles_ops.go
  src/app/t_main_extended_test.go
  src/app/t_main_test.go
  src/app/t_profiles_ops_test.go
  test/e2e.py
  test/test_prometheus_metrics.py
  test/verify_prometheus_metrics.py
Due: version-check, gotidy, govet, gotest

allow workflow_dispatch events
  .github/workflows/gh-pages.yml
Due: none

allow workflow_dispatch events (#45)
  .github/workflows/gh-pages.yml
Due: none

git task patch
  .github/workflows/gh-pages.yml
Due: none
